$padWidth: 100px;
$padHeight: 100px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.25rem;
  font-weight: 800;
  user-select: none;
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  position: relative;
  width: 700px;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-radius: 20px;
}

.pad-bank {
  width: $padWidth * 3 + 40;
  height: $padHeight * 3 + 40;
  display: inline-block;
  margin: 25px;
}

.drum-pad {
  color: white;
  position: relative;
  float: left;
  width: $padWidth;
  height: $padHeight;
  margin-right: 10px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}

.drum-pad:hover {
  background: rgb(205 205 207);
}

.controls-container {
  color: white;
  width: 240px;
  height: $padHeight * 3 + 32;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}

.control {
  width: 100px;
  margin: auto;
  p {
    margin-bottom: 10px;
  }
  .select {
    @extend .outer-select;
    .inner {
      @extend .inner-select;
    }
  }
}

#display {
  width: 200px;
  background: rgba(0,0,0,.5);
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  color: white;
}

.outer-select {
  margin: auto;
  width: 50px;
  height: 20px;
  background: rgba(0,0,0,.5);
}

.inner-select {
  width: 23px;
  height: 19px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}
// CUSTOM RANGE INPUT : Credit : https://github.com/darlanrod/input-range-scss/blob/master/_inputrange.scss

$track-color: rgba(0,0,0,.7) !default;
$thumb-color: rgba(0,0,0,.9) !default;

$thumb-radius: 20px !default;
$thumb-height: 25px !default;
$thumb-width: 25px !default;

$track-radius: 20px !default;
$track-width: 100% !default;
$track-height: 8px !default;

$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color,
    0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all 0.2s ease;
}

@mixin thumb() {
  height: $thumb-height;
  width: $thumb-width;
  background: $thumb-color;
  cursor: pointer;
}

[type='range'] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: (($track-height) / 2) -
      ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
  }

  &::-ms-fill-upper {
    background: $track-color;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}
