@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.25rem;
  user-select: none;
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  position: relative;
  width: 700px;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-radius: 20px;
}

.pad-bank {
  width: 100px * 3 + 40;
  height: 100px * 3 + 40;
  display: inline-block;
  margin: 25px;
}

.drum-pad {
  color: white;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}

.drum-pad:hover {
  background: rgb(205 205 207);
}

.controls-container {
  color: white;
  width: 240px;
  height: 100px * 3 + 32;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}

.control {
  width: 100px;
  margin: auto;
}  

.control p {
  margin-bottom: 10px;
}
.control p .select {
  @extend .outer-select;
}

.control p .select .inner {
  @extend .inner-select;
}

#display {
  width: 200px;
  background: rgba(0,0,0,.5);
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  color: white;
}

.outer-select {
  margin: auto;
  width: 50px;
  height: 20px;
  background: rgba(0,0,0,.5);
}

.inner-select {
  width: 23px;
  height: 19px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) .inner-container {
    transform: scale(0.7);
}

@mixin track() {
  width: 100% !default;
  height: 8px !default;
  cursor: pointer;
  transition: all 0.2s ease;
}

@mixin thumb() {
  height: 25px !default;
  width: 25px !default;
  background: rgba(0,0,0,.9) !default;
  cursor: pointer;
}

[type='range'] {
  -webkit-appearance: none;
  margin: 25px !default / 2 0;
  width: 100% !default;
}

[type='range']:focus {
  outline: none;
}

[type='range']::-webkit-slider-runnable-track {
  @include track();
  background: rgba(0,0,0,.7) !default;
}

[type='range']::-webkit-slider-thumb {
  @include thumb();
  -webkit-appearance: none;
  margin-top: ((8px !default) / 2) -
    (25px !default / 2);
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: lighten(rgba(0,0,0,.7) !default, 1);
}

[type='range']::-moz-range-track {
  @include track();
  background: rgba(0,0,0,.7) !default;
  border-radius: 20px !default;
}

[type='range']::-moz-range-thumb {
  @include thumb();
}

[type='range']::-ms-track {
  @include track();
  background: transparent;
  border-color: transparent;
  border-width: 25px !default 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  background: darken(rgba(0,0,0,.7) !default, 1);
}

[type='range']::-ms-fill-upper {
  background: rgba(0,0,0,.7) !default;
}

[type='range']::-ms-thumb {
  @include thumb();
}

[type='range']:focus::-ms-fill-lower {
  background: rgba(0,0,0,.7) !default;
}
  
[type='range']:focus::-ms-fill-upper {
  background: lighten(rgba(0,0,0,.7) !default, 1);
}
